# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.DS_Store

packaging/
_CPack_Packages/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
gtest/
install_manifest.txt
Makefile

qt_system
qt_test

rai_node
rai_wallet
*.dmg
