[submodule "miniupnp"]
	path = miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "lmdb"]
	path = lmdb
	url = https://github.com/nanocurrency/lmdb.git
	branch = lmdb_0_9_23
[submodule "crypto/cryptopp"]
	path = crypto/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "crypto/phc-winner-argon2"]
	path = crypto/phc-winner-argon2
	url = https://github.com/nanocurrency/phc-winner-argon2.git
[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest.git
[submodule "cpptoml"]
	path = cpptoml
	url = https://github.com/cryptocode/cpptoml.git
[submodule "nano-pow-server"]
	path = nano-pow-server
	url = https://github.com/nanocurrency/nano-pow-server.git
[submodule "flatbuffers"]
	path = flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "diskhash"]
	path = diskhash
	url = https://github.com/nanocurrency/diskhash.git
