<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>CFBundleExecutable</key>
	<string>nano_wallet</string>
	<key>CFBundleName</key>
	<string>Nano</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>RaiBlocks.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.raiblocks.rai_wallet</string>
</dict>
</plist>
