[Unit]
Description=Celerix Live Network Daemon
After=network.target

[Service]
Type=simple
User=celerixcurrency
WorkingDirectory=/var/celerixcurrency/Celerix
ExecStart=/usr/bin/celerix_node --daemon --data_path=/var/celerixcurrency/Celerix
Restart=on-failure

[Install]
WantedBy=multi-user.target
