[Unit]
Description=Celerix Beta Network Daemon
After=network.target

[Service]
Type=simple
User=celerixcurrency
WorkingDirectory=/var/celerixcurrency/CelerixBeta
ExecStart=/usr/bin/celerix_node --daemon --network=beta --data_path=/var/celerixcurrency/CelerixBeta
Restart=on-failure

[Install]
WantedBy=multi-user.target
