[Unit]
Description=Celerix Test Network Daemon
After=network.target

[Service]
Type=simple
User=celerixcurrency
WorkingDirectory=/var/celerixcurrency/CelerixTest
ExecStart=/usr/bin/celerix_node --daemon --network=test --data_path=/var/celerixcurrency/CelerixTest
Restart=on-failure

[Install]
WantedBy=multi-user.target
