[Unit]
Description=Nano Test Network Daemon
After=network.target

[Service]
Type=simple
User=nanocurrency
WorkingDirectory=/var/nanocurrency/NanoTest
ExecStart=/usr/bin/nano_node --daemon --network=test --data_path=/var/nanocurrency/NanoTest
Restart=on-failure

[Install]
WantedBy=multi-user.target
