[Unit]
Description=Nano Beta Network Daemon
After=network.target

[Service]
Type=simple
User=nanocurrency
WorkingDirectory=/var/nanocurrency/NanoBeta
ExecStart=/usr/bin/nano_node --daemon --network=beta --data_path=/var/nanocurrency/NanoBeta
Restart=on-failure

[Install]
WantedBy=multi-user.target
