[Unit]
Description=Nano Live Network Daemon
After=network.target

[Service]
Type=simple
User=nanocurrency
WorkingDirectory=/var/nanocurrency/Nano
ExecStart=/usr/bin/nano_node --daemon --data_path=/var/nanocurrency/Nano
Restart=on-failure

[Install]
WantedBy=multi-user.target
