[Unit]
Description=Nano Daemon beta network
After=network.target

[Service]
Type=simple
User=nanocurrency
WorkingDirectory=/var/nanocurrency/NanoBeta
ExecStart=/usr/bin/nano_node-beta --daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
