[Unit]
Description=Banano Beta Network Daemon
After=network.target

[Service]
Type=simple
User=bananocoin
WorkingDirectory=/var/bananocoin/BananoBeta
ExecStart=/usr/bin/nano_node --daemon --network=beta --data_path=/var/bananocoin/BananoBeta
Restart=on-failure

[Install]
WantedBy=multi-user.target
