[Unit]
Description=Banano Live Network Daemon
After=network.target

[Service]
Type=simple
User=bananocoin
WorkingDirectory=/var/bananocoin/Banano
ExecStart=/usr/bin/nano_node --daemon --data_path=/var/bananocoin/Banano
Restart=on-failure

[Install]
WantedBy=multi-user.target
